<div class="columns bottom">
	<div class="column is-four-fifths is-offset-1">
			<div class="columns is-vcentered">
				<div class="column is-6">
					<p>{{content.field_bottom_text}}</p>
				</div>
				<div class="column">
					{{menus.menu_links}}
				</div>
			</div>  
	</div>
</div>
